HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


##############################
# Java / Spring Boot
##############################

# Maven
target/

# Gradle
.gradle/
build/

# Logs
*.log
logs/

##############################
# IDE Files
##############################

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse / STS
.project
.classpath
.settings/
.metadata/

# VS Code
.vscode/

##############################
# Docker & MongoDB
##############################

data/
*/data/
**/mongodb/
**/data/db/
**/mongo-data/
**/journal/
**/WiredTiger*
**/*.wt

##############################
# OS Files
##############################

Thumbs.db
.DS_Store

##############################
# Node (optional)
##############################

node_modules/
dist/
